h1 {
  color: black;
}
img {
  width: 100%
}
.dark grey {
  color: rgb(60, 60, 60);
}
h1 {
    text-align: center;
}
p {
  text-align: center;
}
header {

}
.column {
  float: left;
  width: calc(33.33% - 10px);
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
